<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find rover_21_localization)/params/ekf_params.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true" >
  </node>

  <!-- IMU Bosh transformation publisher -->
  <node name="odom_to_map" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0  map odom 200" />

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
    <remap from="cloud_in" to="/velodyne_points"/>
    <remap from="scan" to="scan"/>
    <rosparam>
      transform_tolerance: 0.01
      min_height: 0.10
      max_height: 3.0

      angle_min: -2.39982772 
      angle_max: 2.39982772 
      angle_increment: 0.01
      scan_time: 0.1
      range_min: 0.4
      range_max: 10.0
      use_inf: true
      concurrency_level: 0
    </rosparam>
  </node>
  <!--/group-->
</launch>
