<?xml version="1.0"?>
<launch>

  <!--group ns="itu_rover"-->
  <rosparam command="load" file="$(find rover_21_localization)/params/ekf_params.yaml" />
  <rosparam command="load" file="$(find rover_21_localization)/params/navsat_params.yaml" />

  <!--rosparam param="datum">[41.106, 29.023, 0.0, map, base_link] </rosparam-->

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen" >
      <remap from="odometry/filtered" to="odometry/filtered_map"/>
      <remap from="gps/fix" to="/gps/fix"/>
      <remap from="imu/data" to="/imu/data"/>
  </node>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
    <remap from="cloud_in" to="velodyne_points"/>
    <remap from="scan" to="scan"/>

    <rosparam>
      transform_tolerance: 0.01
      min_height: 0.25
      max_height: 0.75

      angle_min: -2.39982772
      angle_max: 2.39982772
      angle_increment: 0.01
      scan_time: 0.1
      range_min: 0.1
      range_max: 5.0
      use_inf: true
      concurrency_level: 0
    </rosparam>
  </node>
  <!--/group-->
</launch>
