<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find arm21_moveit_config)/config/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="load arm_controller" respawn="false" output="screen"/>
  <node name="joint_group_position_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn joint_group_position_controller" />

</launch>
