<launch>
<include file="$(find multimaster_launch)/launch/multimaster_gazebo_robot.launch">
    <arg name="robot_namespace" value="rover_21_description"/>
  </include>

<include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <param name="robot_description" command="cat $(find rover_21_description)/urdf/rover_21_description.urdf"/>
<node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-z 0.5 -file $(find rover_21_description)/urdf/rover_21_description.urdf -urdf -model rover_21_description"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
  <rosparam command="load" file="$(find rover_21_description)/config/control.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
      output="screen" args="rover_joint_publisher rover_velocity_controller"/>

   <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find rover_21_description)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="/rover_velocity_controller/cmd_vel"/>
  </node>

</launch>
