<?xml version="1.0"?>

<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="joy_node_1" >
    <param name="dev" type="string" value="/dev/input/js0" /> <!-- /dev/input/js0-->
    <param name="deadzone" value="0.2" />
  </node>

 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/><!--2 for ertugrul-->
  <param name="kill" value="4" type="int"/>
  <param name="turbo" value="5" type="int"/>
  <param name="turbo_scale" value="2" type="double"/>
  <node pkg="rover_21_control" type="teleop_joy_20.py" name="teleop_joy_20" output="screen"/>

  <!--node pkg="rover_21_control" type="mobile_base_cmd_sub_main.py" name="mobile_base_cmd_sub_main"/-->

<!-- shovel sub-->
  <!--node pkg="rover_21_control" type="mobile_base_shovel_sub.py" name="mobile_base_shovel_sub" /-->
<!-- led sub -->
  <!--node pkg="rover_21_control" type="led_sub.py" name="led_sub"/-->

</launch>
