<!-- RTAB-Map launcher -->

<launch>

    <arg name="camera_name"          default="camera" />

    <!-- Realsense Launcher-->
    <include file="$(find d435_rtabmap)/launch/rs_camera.launch"/>
        <arg name="camera"         value="$(arg camera_name)" />

    <!-- RTAB-Map and RTABmapviz-->
    <arg name="custom_rtabmap_launch_file" default="$(find d435_rtabmap)/launch/include/rs_d435_rtabmap.launch.xml"/>
    <include file="$(arg custom_rtabmap_launch_file)"/>
        <arg name="odom_topic"              default="odom" />
    <!--/include-->   

</launch>
